#logo-area{
	display: flex;
}

#logo-area .custom-logo-link{
	animation: logo-disa 10s linear 3;
	position: absolute;
	z-index:1001;
}

@keyframes logo-disa{
	0%{
	}
	50%{
		pointer-events: none;
		opacity:1;
	}
	52%{
		pointer-events: none;
		opacity:0;
	}
	95%{
		pointer-events: none;
		opacity:0;
	}
	100%{
		pointer-events:auto;
		opacity:1;
	}

}

.logo-back {
  width: 125px;
  height: 125px;
	position:relative;
	z-index:1000;
  animation: logo-move 10s linear 3;
	animation-fill-mode:forwards;
	background-image: url(../img/logo-base.png);
	background-size: contain;
}

@keyframes logo-move {
  0% {
    transform: translateX( 0 ) rotateY(0deg) ;
		opacity:0;
  }
  50% {
    transform: translateX( 0 ) rotateY(0deg) ;
		opacity:0;
  }
  55% {
    transform: translateX( 0 ) rotateY(0deg) ;
		opacity:1;
  }
  72.5% {
    transform: translateX( calc(100% * 10) ) rotateY(0deg);
  }
  75% {
    transform: translateX( calc(100% * 10) ) rotateY(180deg);
  }
  92.5% {
    transform: translateX( 0% ) rotateY(180deg);
  }
  95% {
    transform: translateX( 0 ) rotateY(0deg);
		opacity:1;
  }
  100% {
    transform: translateX( 0 ) rotateY(0deg);
		opacity:0;
  }
}

.logo-back:before,
.logo-back:after {
	content: "";
	width: 125px;
	height: 125px;
	position: absolute;
	background-size: contain;
}

.logo-back:before{
	animation: to-down 0.2s linear infinite;
	background-image: url(../img/logo-ue.png);
}

.logo-back:after {
	animation: to-up 0.2s linear infinite;
	background-image: url(../img/logo-shita.png);
}

@keyframes to-down {
  0% {
    transform: rotate( 0deg )
  }
  50% {
    transform: rotate( 45deg );
  }
  100% {
    transform: rotate( 0deg );
  }
}
@keyframes to-up {
  0% {
    transform: rotate( 0deg )
  }
  50% {
    transform: rotate( -45deg );
  }
  100% {
    transform: rotate( 0deg );
  }
}

