
.header-top{
	display: flex;
}

.logo{
	animation: logo 10s linear infinite;
	position:absolute;
}

@keyframes logo{
	0%{
	}
	50%{
		opacity:1;
	}
	55%{
		opacity:0;
	}
	95%{
	}
	98%{
		transform: scale(1.0);
		opacity:0;
	}
	99%{
		transform: scale(1.1);
	}
	100%{
		transform: scale(1.0);
		opacity:1;
	}

}

.pacman {
  width: 125px;
  height: 125px;
  position: relative;
  animation: pacmanm 10s linear infinite;
}

@keyframes pacmanm {
  0% {
    transform: 
      translateX( 0 ) rotateY(0deg) ;
			opacity:0;
  }
  50% {
    transform: 
      translateX( 0 ) rotateY(0deg) ;
			opacity:0;
  }
  55% {
    transform: 
      translateX( 0 ) rotateY(0deg) ;
			opacity:1;
  }
  72.5% {
    transform: 
      translateX( calc(100% * 10) ) rotateY(0deg);
  }
  75% {
    transform: 
      translateX( calc(100% * 10) )
      rotateY(180deg);
  }
  92.5% {
    transform: 
      translateX( 0% ) rotateY(180deg);
  }
  95% {
    transform: 
      translateX( 0 ) rotateY(0deg);
			opacity:1;
  }
  100% {
    transform: 
		translateX( 0 ) rotateY(0deg);
		opacity:0;
  }
}

.pacman:before{
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-top: calc(125px / 2) solid #ffb900;
  border-right: calc(125px / 2) solid transparent;
  border-bottom: calc(125px / 2) solid #ffb900;
  border-left: calc(125px / 2) solid #ffb900;
  border-radius: 50%;
  animation: to-down .2s linear infinite;
}

@keyframes to-down {
  0% {
    transform: rotate( 0deg )
  }
  50% {
    transform: rotate( 45deg );
  }
  100% {
    transform: rotate( 0deg );
  }
}

.pacman:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  border-top: calc(125px / 2) solid #ffb900;
  border-right: calc(125px / 2) solid transparent;
  border-bottom: calc(125px / 2) solid #ffb900;
  border-left: calc(125px / 2) solid #ffb900;
  border-radius: 50%;
  
  animation: to-up 0.2s linear infinite;
}

@keyframes to-up {
  0% {
    transform: rotate( 0deg )
  }
  50% {
    transform: rotate( -45deg );
  }
  100% {
    transform: rotate( 0deg );
  }
}

